<div>
  <div class="calculator-wrapper">
    <h4>Calculator</h4>

    <!-- SUM -->
    <div class="operation-wrapper">
        <input type="text"/> 
        <p>+</p>
        <input type="text"/>
        <button type="button">=</button>
        <div class="result"></div>
    </div>

    <!-- Difference -->
    <div class="operation-wrapper">
      <input type="text"/> 
      <p>-</p>
      <input type="text"/>
      <button type="button">=</button>
      <div class="result"></div>
    </div>

    <!-- Product -->
    <div class="operation-wrapper">
      <input type="text"/> 
      <p>*</p>
      <input type="text"/>
      <button type="button">=</button>
      <div class="result"></div>
    </div>

    <!-- Quotient -->
    <div class="operation-wrapper">
      <input type="text"/> 
      <p>\</p>
      <input type="text"/>
      <button type="button">=</button>
      <div class="result"></div>
    </div>
  </div>
  <p class="footer">Coded by Kate Lee</p>
</div>