<div>
  <div class="calculator-wrapper">
    <h4>Calculator</h4>

    <!-- SUM -->
    <div class="operation-wrapper">
        <input type="text" [(ngModel)] = "sumValue1" pattern="[0-9 .]*" #sv1 = "ngModel"/> 
        <p>+</p>
        <input type="text" [(ngModel)] = "sumValue2" pattern="[0-9 .]*" #sv2 = "ngModel"/>
        <button type="button" (click)="sum(sumValue1, sumValue2)">=</button>
        <div class="result">{{sumResult}}</div>
        <p class="error-msg" *ngIf="(sv1?.errors?.pattern) || (sv2?.errors?.pattern)">Hey! Only numbers are allowed.</p>
    </div>

    <!-- Difference -->
    <div class="operation-wrapper">
      <input type="text" [(ngModel)] = "diffValue1" pattern="[0-9 .]*" #dv1 = "ngModel"/> 
      <p>-</p>
      <input type="text" [(ngModel)] = "diffValue2" pattern="[0-9 .]*" #dv2 = "ngModel"/>
      <button type="button" (click)="diff(diffValue1, diffValue2)">=</button>
      <div class="result">{{diffResult}}</div>
      <p class="error-msg" *ngIf="(dv1?.errors?.pattern) || (dv2?.errors?.pattern)">Hey! Only numbers are allowed.</p>
    </div>

    <!-- Product -->
    <div class="operation-wrapper">
      <input type="text" [(ngModel)] = "prodValue1" pattern="[0-9 .]*" #pv1 = "ngModel"/> 
      <p>*</p>
      <input type="text" [(ngModel)] = "prodValue2" pattern="[0-9 .]*" #pv2 = "ngModel"/>
      <button type="button" (click)="prod(prodValue1, prodValue2)">=</button>
      <div class="result">{{prodResult}}</div>
      <p class="error-msg" *ngIf="(pv1?.errors?.pattern) || (pv2?.errors?.pattern)">Hey! Only numbers are allowed.</p>
    </div>

    <!-- Quotient -->
    <div class="operation-wrapper">
      <input type="text" [(ngModel)] = "quoValue1" pattern="[0-9 .]*" #ov1 = "ngModel"/> 
      <p>\</p>
      <input type="text" [(ngModel)] = "quoValue2" pattern="[0-9 .]*" #ov2 = "ngModel"/>
      <button type="button" (click)="quo(quoValue1, quoValue2)">=</button>
      <div class="result">{{quoResult}}</div>
      <p class="error-msg" *ngIf="(ov1?.errors?.pattern) || (ov2?.errors?.pattern)">Hey! Only numbers are allowed.</p>
    </div>
  </div>
  <p class="footer">Coded by Kate Lee</p>
</div>